<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configuraci칩n webpack</title>
</head>
<body>

  {{> ../partials/header.hbs }}

  <h1>Contacto | p치gina de prueba</h1>

  <p>
    Esto es un simple dise침o, para probar el correcto funcionamiento de la configuraci칩n, <br>
    con webpack, sientase libre de eliminar todo lo inecesario, para poder comenzar con su proyecto web.
  </p>
</body>
</html>