<header>
  <nav>
    <ul class="menu">
      <li class="menu__item">
        <a href="/" class="menu__link">Inicio</a>
      </li>
      <li class="menu__item">
        <a href="nosotros.html" class="menu__link">Nosotros</a>
      </li>
      <li class="menu__item">
        <a href="contacto.html" class="menu__link">Contacto</a>
      </li>
    </ul>
  </nav>
</header>